USE [master]
GO
/****** Object:  Database [tp3AyG]    Script Date: 12/11/2023 12:23:47 ******/
CREATE DATABASE [tp3AyG]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'tp3AyG', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\tp3AyG.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'tp3AyG_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\tp3AyG_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [tp3AyG].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [tp3AyG]
GO
/****** Object:  Table [dbo].[Cuentas]    Script Date: 12/11/2023 12:23:47 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Cuentas](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[descripcion] [varchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[RegistrosContables]    Script Date: 12/11/2023 12:23:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[RegistrosContables](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[idCuenta] [int] NULL,
	[monto] [int] NULL,
	[tipo] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Cuentas] ON 

INSERT [dbo].[Cuentas] ([id], [descripcion]) VALUES (1, N'PATOO')
INSERT [dbo].[Cuentas] ([id], [descripcion]) VALUES (2, N'Juan')
INSERT [dbo].[Cuentas] ([id], [descripcion]) VALUES (3, N'Pablo')
SET IDENTITY_INSERT [dbo].[Cuentas] OFF
GO
SET IDENTITY_INSERT [dbo].[RegistrosContables] ON 

INSERT [dbo].[RegistrosContables] ([id], [idCuenta], [monto], [tipo]) VALUES (1, 1, 0, NULL)
INSERT [dbo].[RegistrosContables] ([id], [idCuenta], [monto], [tipo]) VALUES (2, 1, 1000, NULL)
INSERT [dbo].[RegistrosContables] ([id], [idCuenta], [monto], [tipo]) VALUES (3, 1, 5000, NULL)
SET IDENTITY_INSERT [dbo].[RegistrosContables] OFF
GO
ALTER TABLE [dbo].[RegistrosContables]  WITH CHECK ADD  CONSTRAINT [FK_RegistrosContables_Cuentas] FOREIGN KEY([idCuenta])
REFERENCES [dbo].[Cuentas] ([id])
GO
ALTER TABLE [dbo].[RegistrosContables] CHECK CONSTRAINT [FK_RegistrosContables_Cuentas]
GO
USE [master]
GO
